#AnchorPane{
    -fx-background-color: blue;
}

#AnchorPane #vbox_alta_instituto {
    -fx-background-color:floralwhite;
}

#AnchorPane #vbox_buscar_instituto {
    -fx-background-color:floralwhite;
}