#AnchorPane{
    -fx-background-color: #98D8C8;
}

#AnchorPane #vbox_alta_instituto {
    -fx-background-color: #FFFFFF;
    -fx-border-color: #CCCCCC;
    -fx-border-width: 1;
}

#AnchorPane #vbox_editar_instituto {
    -fx-background-color: #FFFFFF;
    -fx-border-color: #CCCCCC;
    -fx-border-width: 1;
}


#AnchorPane #vbox_buscar_instituto {
    -fx-background-color: #FFFFFF;
    -fx-border-color: #CCCCCC;
    -fx-border-width: 1;
    
}

#AnchorPane #vbox_alta_docente {
    -fx-background-color:lightgreen;
}

#AnchorPane #vbox_editar_docente {
    -fx-background-color:lightgreen;
}


#AnchorPane #vbox_alta_asignatura {
    -fx-background-color:lightcoral;
}

#AnchorPane #vbox_editar_asignatura {
    -fx-background-color:lightcoral;
}

#btn_agregar_asignatura_en_docente{
    -fx-background-color:green;
    -fx-text-fill:white;
        
}

#btn_quitar_asignatura_en_docente{
    -fx-background-color:red;
    -fx-text-fill:white;
        
}

#btn_ingresar{
    -fx-background-color: #4A90E2;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-padding: 10 20;
    -fx-background-radius: 5;
    -fx-cursor: hand;
}